<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <form method="post" v-on:submit.prevent="sendEmails">
        <label for="name">Jméno</label>
        <input
          type="text"
          id="name"
          placeholder="Jan Novák"
          v-model="name"
          autofocus
          required
        />
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="jan.novak@potraviny.cz"
          v-model="email"
          required
        />
        <label for="shopName">Jméno obchodu</label>
        <input
          type="text"
          id="shopName"
          placeholder="Houska"
          v-model="shopName"
          required
        />
        <label for="webPage">Webová stránka</label>
        <input
          type="url"
          id="webPage"
          placeholder="http://www.houska.cz"
          v-model="webPage"
          required
        />
        <label for="message">Zpráva</label>
        <input
          type="textarea"
          id="message"
          placeholder="Ještě vám chci napsat, že"
          v-model="message"
        />
        <button type="submit">PŘIDEJTE SE K ZÁSOBY SEM</button>
      </form>
    </div>
    <div
      id="mail"
      style="font-size: larger; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #9d9065; display:inline-block; background-color: #fff9e8; border-radius: 10px; padding: 30px;"
    >
      <h2>Hurááá. Otevírají se nám nové obzory!</h2>
      <p>
        Právě jsme obdrželi novou žádost o zařazení obchodu
        <strong>${this.shopName}</strong> mezi naše zásobovače!
      </p>
      <p>
        Koukni na jejich webové stránky
        <span style="text-decoration: underline"
          ><a v-bind:href="${this.webPage}" target="_blank">tady</a></span
        >.
      </p>
      <p>
        A pak honem napiš na
        <span>
          <a v-bind:href="mailto:${this.email}">tento email</a>
        </span>
        , kontaktní osoba je
        <strong> ${this.name}.</strong>
      </p>
      <p><strong>Zásoby sem jedou!!!</strong></p>
      <p>${FormattedMessage}`</p>
    </div>
    <script src="mail.js"></script>
  </body>
</html>
